<div class="ui container" style="height: 900px;">
  <div class="ui center aligned segment">
    <h3 class="ui header text">Royal University of Phnom Penh</h3>
    <%= image_tag 'rupp_logo', size: '256x256'%>
  </div>
  


<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide column">
      <p></p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide column">
      <p></p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>

</div>