<div class="ui internally celled grid">
  <div class="row">
    <div class="sixteen wide column ui center aligned">
      <div class="column">
        <h1 class="ui header text">Royal University of Phnom Penh</h1>
        <%= image_tag 'rupp_logo', size: '256x256'%>
        <div class="ui segement">
          <h1 class="header">Master Degree of Computer Science</h1>
          <h2 class="header">Topic: Plot Graph Equation on WebGL</h2>
          <h3 class="header">Presented By Mr. Lytay TOUCH</h3>
          <h3 class="header">Academic Year 2015</h3>
        </div>
      </div>
    </div>
  </div>
</div>