<div class="ui internally celled grid">
  <div class="row">
    <div class="sixteen wide column ui center aligned">
      <div class="column">
        <h1 class="ui header text">Royal University of Phnom Penh</h1>
        <%= image_tag 'rupp_logo', size: '256x256'%>
      </div>
    </div>
  </div>
</div>
