<div class="ui internally celled grid">
  <div class="row">
    <div class="sixteen wide column ui center aligned">
      <div class="column">
        <h1 class="ui header text">Questions</h1>
        <h1><i class="grey fa fa-question-circle icon massive"></i></h1>
      </div>
    </div>
  </div>
</div>