<div class="ui stackable sixteen column grid">
  <div class="row">      

    <div class="ui six wide column">
      
      <h3 class="ui text header"><span class="text"><i class="fa fa-dot-circle-o icon"></i>Sphere Equation Fomular</span></h3>
      <div class="ui segment">
        <div class="ui header">Input Value into Sphere Formular:</div>

        <div class="ui header center aligned segment">Y = a X + b</div>

        <div class="ui form">
          
          <div class="fields">
            <div class="sixteen wide inline field">
              <label><h3>Inital Axis Point </h3></label>
              <input type="text" placeholder="Axis Point">
            </div>
          </div>

          <div class="fields">
            <div class="sixteen wide inline field">
              <label><h3>Value a = </h3></label>
              <input type="text" placeholder="Value">
            </div>
          </div>

          <div class="fields">
            <div class="sixteen wide inline field">
              <label><h3>Value b = </h3></label>
              <input type="text" placeholder="Value">
            </div>
          </div>

        </div>
      </div>

      <button class="mini blue ui button" id="tgr-linear">Draw Graph</button>

    </div>

    <div class="ui ten wide column">
      <h3 class="ui text header">Graph</h3>
      <div class="ui segment">
        <canvas id="sphere-scene" style ="width: 100%; height: 100%; background-color: blue;"></canvas>
      </div>
    </div>

</div>